<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eshop</title>
    <link href="css/styles.css" type="text/css"
          rel="stylesheet" />
    <link href="/img/pion.ico" rel="icon" />
</head>
<body>


<header class="site-header">
    <div class="header-container">
        <!-- Левая группа меню -->
        <div class="nav-group">
            <ul class="nav-list">
                <li><a href="http://localhost:8085">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="http://localhost:8085/categories">Категории</a></li>
                <li><a href="#">Доставка и оплата</a></li>
            </ul>
        </div>

        <!-- Правая группа меню -->
        <div class="nav-group">
            <span class="phone-number">8 (918) 127-60-61</span>
            <ul class="nav-list">
                <li><a href="#">Заказать звонок</a></li>
                <li><a href="#">Личный кабинет</a></li>
            </ul>
        </div>
    </div>
</header>


<main class="main">
    <div class="wrapper">

        <header class="card-header">
            <h2 class="card-header-text">Выгодные предложения</h2>
        </header>
        <div class="carousel-container">
            <button class="carousel-arrow prev">‹</button>

            <div class="horizontal-product-scroll">
                <div class="card" th:each="p: ${productsWithDiscount}">
                    <img class="card__img" th:if="${p.imageUrl} != null" th:src="${p.imageUrl}">
                    <img class="card__img" th:if="${p.imageUrl} == null" th:src="@{/img/pion.jpg}">
                    <div class="card-text">
                        <h4 class="card-title" th:text="${p.name}">Название</h4>
                        <p th:text="${p.description}">Описание</p>
                        <div class="price_container">
                            <strong class="card-price" th:text="${p.discountedPrice} + '$'">Цена со скидкой</strong>
                            <p class="card-price-lined" th:text="${p.price} + '$'">Цена без скидки</p>
                            <p class="discount-percent" th:text="'-'+${p.discountPercent}+'%'">Процент скидки</p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-arrow next">›</button>
        </div>

    </div>
</main>


<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-column">

            <ul class="footer-list">
                <li><h3>Компания</h3></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Наши преимущества</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <ul class="footer-list">
                <li><h3>Для покупателей</h3></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Личный кабинет</a></li>
                <li><a href="#">Обмен и возврат</a></li>
                <li><a href="#">Вопрос-ответ</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <ul class="footer-list">
                <li><h3>Информация</h3></li>
                <li><a href="#">Бренды</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Положение о персональных данных и конфиденциальности</a></li>
                <li><a href="#">Оферта</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <ul class="footer-list">
                <li><h3>Наши новости</h3></li>
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Доставка и оплата</a></li>
            </ul>
        </div>
    </div>
</footer>
<script th:src="@{/js/index.js}"></script>
</body>
</html>