<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Товар</title>
    <link th:href="@{/css/styles.css}" type="text/css"
          rel="stylesheet" />
    <link href="/img/pion.ico" rel="icon" />
</head>
<body>




<header class="site-header">
    <div class="header-container">
        <!-- Левая группа меню -->
        <div class="nav-group">
            <ul class="nav-list">
                <li><a href="http://localhost:8085">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="http://localhost:8085/categories">Категории</a></li>
            </ul>
        </div>

        <!-- Правая группа меню -->
        <div class="nav-group">
            <span class="phone-number">8 (918) 127-60-61</span>
            <ul class="nav-list">
                <li><a href="#">Личный кабинет</a></li>
            </ul>
        </div>
    </div>
</header>




<main class="main">
    <div class="product-container">

        <div class="product-image-block">
            <img class="card__img" th:if="${product.imageUrl} != null" th:src="${product.imageUrl}">
            <img class="card__img" th:if="${product.imageUrl} == null" th:src="@{/img/pion.jpg}">
        </div>


        <div class="product-details-block">
            <div class="detail">
                <h2 th:text="${product.name.toUpperCase()}">Название товара</h2>
                <h2 th:text="${product.discountedPrice}">Цена с учётом скидки</h2>
            </div>

            <div class="razmer-container" th:if="${category.name == 'Clothes'}">
                <h2 th:text="'Размер: ' + ${product.name.toUpperCase()}">Размер</h2>
            </div>

            <div class="amount-container">
                <h2 th:text="'Наличие: ' + ${product.quantity}">Кол-во</h2>
            </div>

            <form th:action="@{/cart/add}" method="post" class="add-to-cart-form">
                <button type="submit" class="btn-fav">
                    <img src="/img/fav-icon.png"       class="fav-icon default" alt="">
                    <img src="/img/fav-icon-red.png"   class="fav-icon red"     alt="">
                </button>
                <button type="submit" class="btn-add">
                    <img
                            th:src="@{/img/cart-img.png}"
                            alt="Корзина"
                            class="cart-icon" />
                    <div class="add-button-text">
                        В КОРЗИНУ
                    </div>
                </button>
            </form>

        </div>

    </div>
</main>




<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-column">

            <ul class="footer-list">
                <li><h3>Компания</h3></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Наши преимущества</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <ul class="footer-list">
                <li><h3>Для покупателей</h3></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Личный кабинет</a></li>
                <li><a href="#">Обмен и возврат</a></li>
                <li><a href="#">Вопрос-ответ</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <ul class="footer-list">
                <li><h3>Информация</h3></li>
                <li><a href="#">Бренды</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Положение о персональных данных и конфиденциальности</a></li>
                <li><a href="#">Оферта</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <ul class="footer-list">
                <li><h3>Наши новости</h3></li>
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Доставка и оплата</a></li>
            </ul>
        </div>
    </div>
</footer>





<script>
    document.addEventListener('DOMContentLoaded', () => {
        const btn = document.querySelector('.btn-fav');
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            btn.classList.toggle('active');
            // запрос к серверу для сохранения в избранном ......
        });
    });
</script>


</body>
</html>